.table-parent {
    display: flex;
    justify-content: center;
    align-items: center; /* if you want it vertically centered as well */
    height: 80vh; 

}
td, th {
    text-align: center;
    vertical-align: middle; 
}
.dt-table {
    max-width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
}

.dt-head {
    background-color: #f5f5f5;
}

.dt-th {
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.dt-tr td {
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.button-as-link {
    background: none;
    border: none;
    padding: 0;
    color: blue;  
    text-decoration: underline;  
    cursor: pointer;
    font-family: inherit;  
    font-size: inherit; 
}

.button-as-link:hover {
    text-decoration: none;  
}

.button-as-link:focus {
    outline: none;  /* Removing the focus box. Be cautious with this in terms of accessibility */
    box-shadow: none;  /* Removing focus shadow on some browsers */
}


button.edit {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.edit:hover {
    background-color: #0056b3;
}
